html{
scroll-behavior: smooth;
}
body{
    font-family: "Arial Black",sans-serif;
    background-color: whitesmoke;
    margin: 0;
}
h1{
    text-align: center;
    text-shadow: 0 0 5px black;
}

h2{
    background: linear-gradient(to right, blue,deeppink);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px black;
}
p{
    text-align: center;
}
table{
    width: 100%;
    text-align: center;
}
img , iframe{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    border: 5px solid white;
}